body{
    display: flex;
    justify-content: center;
    gap: 10px;
    
}
box1{
    width: 20%;
    height: auto;
    margin-right: 10px;
    border: 1px solid gray;
    padding: 10px;
}
box1 ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-left: -25px;

}
box1 li {
    border: 1px solid gray;
    border-radius: 7px;
    padding: 4px;
}