body{
      margin: left 0px;;  
}
nav{

   background-color: blue;
   
}
ul{
    display: flex;
    justify-content: center;
    list-style: none;
    
}
li{
    padding: 15px;
}
.border {
    border-right: 1px solid grey;
}
.danhmuc-lienket{
    color: white;
    text-decoration: none;
    font-family: Roboto, Arial, Tahoma;

}
.banner-qc {
    display: flex;
    justify-content: center;
    margin: 10px 0px;
}
.qc {
    display: flex;
    justify-content: space-between;
}
header{
    border-bottom: 10px solid grey;
}
h1 {
    font-size: 50px;
    color: blue;
}