h1 {
    background-color: darkgray;
}

h2{
    background-color: green;
}
       .box1 {
        background-color: blue;
       }
       .box2 {
        background-color: red;
        /* 1 giá trị cách xung quanh =giá trị đó */
        /* 2 giá trị : giá trị đầu ( trên , dưới)
                        giá trị thứ 2( trái, phải*/
                        /*margin: 50px 10px 100px 30px; */
                        width: 50%;
                        /* auto căn khối ra giữa */
                        margin: 50px auto;
                        padding: 100px;
       }
       .box3{
        background-color: green;
       }